@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model practicaProto.models.Company
<!DOCTYPE html>
<html>
    <title>Company</title>
<body>
    <h1>Producto:</h1>
        @Html.DisplayTextFor(model => model.producto) <br>
    <h1>Precio Inicial:</h1>
        @Html.DisplayTextFor(model => model.precio_ini) <br>
    <h1>Precio Final: </h1>
        @Html.DisplayTextFor(model => model.precio_fin) <br>
</body>
</html>