@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model practicaProto.Company

<!DOCTYPE html>
<html>
    <title>Company</title>
<body>
    <h1>Bienvenido</h1><br>
   
    <div>
        <form asp-controller="Home" asp-action="Company">
            <label>Producto:</label>
            <input asp-for="producto"/><br/>
            <label>Categoria:</label>
            <select asp-for="categoria">
                <option value="cam">Camioneta</option>
                <option value="auto">Automovil</option>
            </select><br/>
            <label>Tipo de impuestos:</label>
                <input type="radio" asp-for="t_impuestos" value="naci"/>Nacional
                <input type="radio" asp-for="t_impuestos" value="extran"/>Extranjera <br>
            <label>Precio:</label>
            <input asp-for="precio_ini"/><br/>
            <input type="submit" value="Calcular"/>
        </form>
    </div>   
</body>
</html>